
/* .recipe-info img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -50%;
} */

.recipe-search-ctn {
  display: block;
}

.previous-search-items {
  display: inline-block;
  margin: 0 1em 1em 0;
  padding: .5em 1em;
  border-radius: 30px;
  background-color: rgb(177, 89, 38);
  color: #fff;
  box-shadow: 0 3px 6px rgb(193, 191, 191);
  transform: translateX(100%);
  opacity:0;
  animation: 1.5s slideInRight forwards;

}
.previous-search-items:hover{
  box-shadow: 4px 2px 6px rgb(121, 120, 120);
}
.previous-search h2 {
  margin-bottom: .5em;
}
.search-btn{
 display: flex;
 align-items: center;
 justify-content: end;
 height: 35px;
}
.search-btn input , .btn{
 height: 35px;
}
.search-btn input{
  min-width: 250px;
  padding: 0 .5em;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 1px solid #4d4d4d;
}
.search-btn .btn{
  border-radius: 0 5px 5px 0;
}


.recipe-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}
.recipe-card {
  box-shadow: 1px 1px 6px rgb(167, 164, 164);
  border-radius: 5px;
  overflow: hidden;
}
.recipe-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.recipe-info {
  padding: 10px;
  position: relative;
}
.recipe-info .recipe-name {
  font-size: 1em;
  color: black;
  font-weight: bold;
}
.recipe-info .recipe-cuisine {
  margin-bottom: 1em;
  font-size: 0.9em;
  color: rgb(60, 59, 59);
}
.view-btn {
  color: rgb(177, 89, 38);
  font-weight: bold;
}
.recipe-name-cuisine-wrapper{
  min-height: 60px;
}

/* modal */
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 85%;
  max-width: 500px;
  overflow-y: auto;
  max-height: 80%;
}
.modal-ingredient-ctn{
  padding-left: 20px;
  margin-bottom: 10px;
}
.modal-content h2{
  margin-bottom: 10px;
}
