
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #0A0A0A;
  padding-top: 55px;
}
a{
  text-decoration: none
}
@import './styles/navBar.css';
.main{
  padding-block: 3vw;
}
.container{
  padding-inline: 12vw;
}
.section{
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
  flex-wrap: wrap;
}
.section .col{
  width: 50%;
}
.btn{
  border:none;
  background-color: rgb(169, 71, 14);
  padding: 10px 10px;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0 2px 6px  rgba(0,0,0,0.2);
}
@import "./styles/heroSection.css";
@import './styles/improveSkills.css';
@import './styles/quoteSection.css';
@import "./styles/chiefSection.css";
@import "./styles/footer.css";
@media screen and (max-width:1280px) {
  .container{
    padding-inline: 18vw;
  }
  
}
@media screen and (max-width:1050px) {
  .container{
    padding-inline: 12vw;
  }

  
}
@media screen and (max-width:768px) {
  .container{
    padding-inline: 6vw;
  }
  .section .col{
    width: 100%;
    padding: 0 !important;
    text-align: center;
    margin-bottom: 2em;
  }
  .section .title{
    text-align: center;
  }
 .skill-item{
    display: inline-block;
    margin: .75em;
  }
  .section.improve-skills .btn{
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    
  }
  .footer-ctn{
    grid-template-columns: repeat(4,1fr);
  }
  .footer-section:nth-child(1){
    grid-column: span 4;
    margin-bottom: 1em;
  }
  .footer-section:nth-child(2) , .footer-section:nth-child(3){
    grid-column: span 2;
  }
  
}
@media screen and (max-width:480px) {
  body{
    padding-top: 60px;
  }
  .container{
    padding-inline: 3vw;
  }

  
}
